<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="30;url=http://127.0.0.1:5000/" />
  <title>Document</title>
</head>
<body>
  <p>
    TESTING TODO Clean website! Here is the weather forecast:<br/>
    Title: {{title}} <br />
    Rest of Today's Forecast: <br />{{today}} <br />
    Tomorrow's Forecast: <br />{{tomorrow}} <br />
    Two Days from Today: <br />{{two_days}} <br />
    Three Days from Today: <br />{{three_days}} <br />
    Four Days from Today: <br />{{four_days}} <br />
    Five Days from Today: <br />{{five_days}} <br />
  </p>

</body>
</html>